<div class="container">
  <h2>Welcome</h2>
  <p>Click any of the following btn to redirect:</p>
  <div class="btn-container">
    <button><a href="http://localhost:8080/api/products">/api/products</a></button>
    <button><a href="http://localhost:8080/api/carts">/api/carts</a></button>
    <button><a href="http://localhost:8080/api/realtimeproducts">/api/realtimeproducts</a></button>
    <button><a href="http://localhost:8080/api/chats">/api/chats</a></button>
  </div>
</div>